.container {
    margin: 10%;
}

.search, .account, .add{
    display: block;
    font-size: 20;
    height: 33px;
    margin-bottom: 13px;
    cursor: pointer;
    font-family: 'Segoe UI Semibold';
}

.search{
    border-radius: 20px;
    width: 130px;
    border: 2px solid rgb(35, 167, 162);
    color: rgb(35, 167, 162);
}

.account{
    border-radius: 0px;
    width: 160px;
    border: 1px solid black;
    box-shadow: 7px 3px 3px black;
    background-color: royalblue;
    color: white;
}
.add{
    border: 2px solid   rgb(35, 167, 162);
    background-color:  rgb(35, 167, 162);
    border-radius:35px;
    width: 30px;
    color: aliceblue;
}


      
      
    



